@import "reset.css";
@import "variables.css";
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "components/status-bar.css";
@import "components/title-menu.css";
@import "components/profile-bar.css";
@import "components/nav-bar.css";

body {
  font-family: "Dongle", sans-serif;
  font-size: 28px;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
