.fa-exclamation {
  color: tomato;
  position: relative;
  top: 5px;
  left: 3px;
}
.more__add-icon {
  position: relative;
  right: 235px;
}

.more-menu-icons {
  border-bottom: 1px solid var(--gray);
  margin: 25px;
}

.more__sugst-menu {
  display: flex;
  justify-content: left;
  padding: 25px;
}

.more__sugst-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.more__sugst-btn-icon {
  height: 50px;
  width: 50px;
  border-radius: 10%;
}
.more__sugst-btn-text {
  color: rgba(0, 0, 0, 0.5);
}
